$primary: rgb(3,37,65);
$secondary: rgb(0,206,209);
$white: #f6f6fc;
$warning: #f9c306;
$danger: #F21616;
$light-grey: #cecece;
$grey1: #333;
$grey2: #707070;
$grey3: #a0a0a0;
$grey4: #dcdcdc;
$grey5: #f0f0f0;
